In [1]:
import psycopg2
import os

In [2]:
os.environ['POSTGRE_USERNAME'] = 'postgres'
os.environ['POSTGRE_PASSWORD'] = 'mahi'

In [3]:
USER = os.environ['POSTGRE_USERNAME']
PASSWORD = os.environ['POSTGRE_PASSWORD']

In [4]:
USER, PASSWORD

('postgres', 'mahi')

In [5]:
conn = psycopg2.connect(database='sql-data-analysis-and-visualisation-projects',
                                       user=USER,
                                       password=PASSWORD,
                                       host='localhost',
                                       port=5432)

In [6]:
conn

In [8]:
all_ovens = getProductsByType(conn, 'oven')

In [9]:
len(all_ovens)

20

In [7]:
def getProductsByType(db_conn, prod_type):
    cursor = db_conn.cursor()
    sql_string = 'SELECT * FROM products WHERE product_type = %s'
    cursor.execute(sql_string, [prod_type])
    return (cursor.fetchall())

In [10]:
all_ovens[:5]

[(1, 'Reflector oven', 'oven'),
 (2, 'Convection microwave', 'oven'),
 (15, 'Masonry oven', 'oven'),
 (24, 'Microwave oven', 'oven'),
 (32, 'Russian oven', 'oven')]

In [11]:
# Avoiding N+1 queries
# Let's say we want to get all product orders which include any type of ovens

In [12]:
# global cursor
cursor = conn.cursor()
fetchall_count = 0

for oven in all_ovens:
    oven_id = oven[0]
    sql_string = 'SELECT * FROM product_orders WHERE product_id = %s'
    
    cursor.execute(sql_string, [oven_id])
    oven_orders = cursor.fetchall()
    fetchall_count += 1
    
    print('fetchall_count: ', fetchall_count)
    print(oven_orders, "\n")

fetchall_count:  1
[(3, 1, 5, Decimal('72.69')), (25, 1, 4, Decimal('63.59')), (59, 1, 3, Decimal('22.07')), (68, 1, 4, Decimal('196.11')), (71, 1, 5, Decimal('227.35')), (81, 1, 4, Decimal('116.89')), (121, 1, 2, Decimal('277.29')), (123, 1, 1, Decimal('127.55')), (138, 1, 1, Decimal('38.29')), (155, 1, 1, Decimal('279.34')), (187, 1, 3, Decimal('149.28')), (203, 1, 1, Decimal('299.98')), (208, 1, 1, Decimal('121.73')), (259, 1, 1, Decimal('167.60')), (300, 1, 1, Decimal('66.57'))]

fetchall_count:  2
[(20, 2, 1, Decimal('211.07')), (57, 2, 4, Decimal('65.81')), (58, 2, 5, Decimal('102.97')), (63, 2, 4, Decimal('43.22')), (79, 2, 2, Decimal('293.17')), (80, 2, 1, Decimal('181.54')), (94, 2, 4, Decimal('297.49')), (130, 2, 3, Decimal('44.08')), (141, 2, 3, Decimal('187.80')), (155, 2, 2, Decimal('24.27')), (185, 2, 3, Decimal('246.71')), (237, 2, 3, Decimal('224.47')), (253, 2, 4, Decimal('298.50')), (263, 2, 2, Decimal('112.06')), (273, 2, 2, Decimal('182.99'))]

fetchall_count:  3
[(10, 15, 5, Decimal('76.80')), (11, 15, 1, Decimal('282.80')), (61, 15, 1, Decimal('268.02')), (79, 15, 5, Decimal('184.14')), (106, 15, 2, Decimal('42.49')), (176, 15, 3, Decimal('207.48')), (179, 15, 1, Decimal('244.24'))]

fetchall_count:  4
[(32, 24, 3, Decimal('70.57')), (78, 24, 4, Decimal('21.83')), (81, 24, 3, Decimal('284.95')), (84, 24, 4, Decimal('244.54')), (97, 24, 1, Decimal('252.06')), (147, 24, 5, Decimal('96.33')), (154, 24, 3, Decimal('203.38')), (161, 24, 4, Decimal('269.07')), (205, 24, 4, Decimal('184.06')), (218, 24, 2, Decimal('111.50')), (231, 24, 1, Decimal('77.68')), (251, 24, 1, Decimal('70.82')), (270, 24, 2, Decimal('91.06')), (275, 24, 1, Decimal('99.06')), (294, 24, 1, Decimal('281.60'))]

fetchall_count:  5
[(23, 32, 5, Decimal('114.08')), (24, 32, 5, Decimal('60.54')), (30, 32, 1, Decimal('57.09')), (35, 32, 1, Decimal('148.47')), (104, 32, 1, Decimal('110.06')), (126, 32, 2, Decimal('215.42')), (189, 32, 2, Decimal('242.99')), (216, 32, 1, Decimal('59.54')), (218, 32, 1, Decimal('166.24')), (223, 32, 5, Decimal('268.88')), (224, 32, 1, Decimal('235.23')), (233, 32, 2, Decimal('152.30')), (269, 32, 3, Decimal('291.17'))]

fetchall_count:  6
[(50, 33, 4, Decimal('106.41')), (66, 33, 3, Decimal('107.58')), (69, 33, 2, Decimal('248.46')), (81, 33, 1, Decimal('46.68')), (82, 33, 2, Decimal('93.58')), (89, 33, 2, Decimal('98.24')), (129, 33, 4, Decimal('271.41')), (143, 33, 3, Decimal('136.21')), (155, 33, 4, Decimal('190.61')), (184, 33, 2, Decimal('163.07')), (208, 33, 1, Decimal('216.69')), (229, 33, 3, Decimal('264.55')), (236, 33, 4, Decimal('172.52')), (240, 33, 5, Decimal('281.13')), (262, 33, 4, Decimal('118.76')), (298, 33, 2, Decimal('82.57'))]

fetchall_count:  7
[(30, 34, 3, Decimal('61.61')), (45, 34, 2, Decimal('102.11')), (115, 34, 2, Decimal('222.81')), (122, 34, 1, Decimal('43.55')), (131, 34, 2, Decimal('228.91')), (150, 34, 4, Decimal('50.57')), (153, 34, 5, Decimal('156.85')), (182, 34, 4, Decimal('51.79')), (188, 34, 5, Decimal('222.32')), (266, 34, 3, Decimal('269.89'))]

fetchall_count:  8
[(52, 37, 2, Decimal('299.60')), (107, 37, 5, Decimal('102.06')), (109, 37, 3, Decimal('69.85')), (121, 37, 2, Decimal('207.10')), (126, 37, 5, Decimal('268.86')), (128, 37, 5, Decimal('102.65')), (132, 37, 5, Decimal('39.61')), (186, 37, 2, Decimal('184.06')), (192, 37, 1, Decimal('219.63')), (216, 37, 3, Decimal('222.38')), (223, 37, 3, Decimal('85.97')), (234, 37, 4, Decimal('44.71')), (245, 37, 2, Decimal('84.73')), (247, 37, 3, Decimal('227.49')), (288, 37, 2, Decimal('250.11'))]

fetchall_count:  9
[(15, 38, 2, Decimal('299.62')), (33, 38, 4, Decimal('236.11')), (51, 38, 4, Decimal('163.11')), (53, 38, 1, Decimal('288.20')), (58, 38, 3, Decimal('255.12')), (103, 38, 5, Decimal('149.83')), (142, 38, 4, Decimal('22.75')), (146, 38, 2, Decimal('243.92')), (156, 38, 5, Decimal('177.85')), (243, 38, 3, Decimal('193.73')), (289, 38, 3, Decimal('106.18')), (298, 38, 4, Decimal('36.04'))]

fetchall_count:  10
[(15, 41, 2, Decimal('158.61')), (17, 41, 2, Decimal('114.64')), (18, 41, 2, Decimal('126.41')), (36, 41, 1, Decimal('252.91')), (39, 41, 5, Decimal('256.48')), (48, 41, 3, Decimal('148.91')), (56, 41, 3, Decimal('239.39')), (68, 41, 5, Decimal('151.73')), (85, 41, 3, Decimal('288.24')), (142, 41, 2, Decimal('253.98')), (190, 41, 1, Decimal('259.61')), (221, 41, 4, Decimal('166.39')), (235, 41, 5, Decimal('194.09')), (238, 41, 5, Decimal('35.42')), (267, 41, 3, Decimal('238.67'))]

fetchall_count:  11
[(7, 42, 5, Decimal('201.44')), (13, 42, 1, Decimal('47.79')), (49, 42, 2, Decimal('26.63')), (66, 42, 5, Decimal('174.47')), (88, 42, 2, Decimal('281.22')), (181, 42, 1, Decimal('32.13')), (203, 42, 1, Decimal('184.27')), (204, 42, 4, Decimal('215.33')), (249, 42, 5, Decimal('268.09')), (288, 42, 4, Decimal('229.96')), (293, 42, 2, Decimal('49.51')), (298, 42, 5, Decimal('50.32'))]

fetchall_count:  12
[(9, 43, 5, Decimal('230.13')), (26, 43, 2, Decimal('195.19')), (28, 43, 5, Decimal('296.70')), (48, 43, 4, Decimal('120.45')), (52, 43, 4, Decimal('89.25')), (56, 43, 5, Decimal('239.55')), (104, 43, 4, Decimal('142.18')), (134, 43, 1, Decimal('272.74')), (165, 43, 2, Decimal('25.91')), (166, 43, 4, Decimal('130.21')), (190, 43, 5, Decimal('275.01')), (202, 43, 1, Decimal('90.41')), (233, 43, 4, Decimal('190.09')), (286, 43, 2, Decimal('83.52')), (295, 43, 5, Decimal('34.92'))]

fetchall_count:  13
[(21, 47, 3, Decimal('73.83')), (35, 47, 5, Decimal('261.38')), (52, 47, 3, Decimal('255.84')), (65, 47, 5, Decimal('220.94')), (116, 47, 4, Decimal('81.56')), (178, 47, 5, Decimal('47.63')), (226, 47, 1, Decimal('129.59')), (240, 47, 5, Decimal('31.14')), (254, 47, 4, Decimal('200.50'))]

fetchall_count:  14
[(47, 48, 3, Decimal('262.16')), (65, 48, 2, Decimal('149.43')), (133, 48, 3, Decimal('110.95')), (135, 48, 4, Decimal('253.41')), (252, 48, 4, Decimal('110.52')), (264, 48, 3, Decimal('196.83'))]

fetchall_count:  15
[(6, 58, 2, Decimal('110.55')), (14, 58, 4, Decimal('198.79')), (50, 58, 4, Decimal('107.07')), (80, 58, 3, Decimal('185.41')), (106, 58, 2, Decimal('63.68')), (128, 58, 3, Decimal('129.37')), (131, 58, 1, Decimal('260.66')), (155, 58, 5, Decimal('57.80')), (199, 58, 3, Decimal('205.48')), (206, 58, 5, Decimal('287.11')), (254, 58, 2, Decimal('55.64'))]

fetchall_count:  16
[(27, 67, 2, Decimal('191.86')), (38, 67, 5, Decimal('237.32')), (62, 67, 5, Decimal('31.46')), (90, 67, 3, Decimal('37.05')), (92, 67, 3, Decimal('245.98')), (122, 67, 4, Decimal('168.12')), (154, 67, 1, Decimal('198.10')), (180, 67, 5, Decimal('168.40')), (187, 67, 2, Decimal('81.90')), (191, 67, 1, Decimal('218.77')), (202, 67, 4, Decimal('169.92')), (220, 67, 2, Decimal('120.95')), (232, 67, 3, Decimal('230.89'))]

fetchall_count:  17
[(35, 72, 1, Decimal('214.48')), (81, 72, 2, Decimal('99.95')), (98, 72, 5, Decimal('241.21')), (168, 72, 1, Decimal('282.82')), (180, 72, 2, Decimal('254.75')), (182, 72, 3, Decimal('157.77')), (208, 72, 5, Decimal('97.49')), (235, 72, 2, Decimal('109.82')), (244, 72, 1, Decimal('176.73')), (273, 72, 3, Decimal('172.59')), (286, 72, 2, Decimal('128.32')), (291, 72, 5, Decimal('120.74'))]

fetchall_count:  18
[(4, 74, 5, Decimal('147.32')), (29, 74, 1, Decimal('252.93')), (57, 74, 3, Decimal('122.31')), (71, 74, 3, Decimal('248.88')), (109, 74, 2, Decimal('153.78')), (117, 74, 2, Decimal('239.23')), (249, 74, 1, Decimal('62.07'))]

fetchall_count:  19
[(27, 78, 3, Decimal('119.16')), (102, 78, 5, Decimal('82.35')), (118, 78, 5, Decimal('234.81')), (124, 78, 3, Decimal('184.20')), (132, 78, 5, Decimal('180.47')), (136, 78, 2, Decimal('177.59')), (171, 78, 2, Decimal('229.83')), (181, 78, 4, Decimal('110.29')), (236, 78, 1, Decimal('268.99')), (240, 78, 5, Decimal('42.51')), (259, 78, 1, Decimal('159.71')), (279, 78, 1, Decimal('226.70')), (280, 78, 4, Decimal('178.82'))]

fetchall_count:  20
[(9, 80, 5, Decimal('111.15')), (29, 80, 3, Decimal('123.98')), (58, 80, 1, Decimal('95.93')), (98, 80, 3, Decimal('151.25')), (127, 80, 5, Decimal('258.30')), (146, 80, 4, Decimal('134.53')), (170, 80, 2, Decimal('181.95')), (180, 80, 5, Decimal('69.76')), (199, 80, 2, Decimal('123.18')), (215, 80, 5, Decimal('230.87')), (234, 80, 4, Decimal('114.31')), (250, 80, 2, Decimal('81.27')), (255, 80, 5, Decimal('68.91')), (258, 80, 3, Decimal('38.20')), (271, 80, 1, Decimal('291.51')), (276, 80, 2, Decimal('178.59')), (280, 80, 4, Decimal('180.09')), (298, 80, 4, Decimal('282.42'))]

In [13]:
del cursor

In [14]:
# NOTE:

# In above query, we are like check against one item and get all orders of specific item. Drop them back at home.

# Then again go back to store and check against another item and get all orders of that item. Drop them back at home again.

# This make inefficient and we want to get all orders of all related items while querying and bring them back to home all together.

In [15]:
# more efficient way
def getProductOrdersByType(db_conn, product_type):
    cursor = db_conn.cursor()
    
    sql_string = 'SELECT po.* \
                        FROM product_orders po \
                        JOIN products p \
                        ON p.product_id = po.product_id  \
                        WHERE p.product_type = %s'
    
    cursor.execute(sql_string, [product_type])
    return (cursor.fetchall())

In [16]:
all_product_orders = getProductOrdersByType(conn, 'oven')

In [17]:
len(all_product_orders)

249

In [18]:
all_product_orders[:5]

[(3, 1, 5, Decimal('72.69')),
 (25, 1, 4, Decimal('63.59')),
 (59, 1, 3, Decimal('22.07')),
 (68, 1, 4, Decimal('196.11')),
 (71, 1, 5, Decimal('227.35'))]

In [19]:
# Challenge
# write a function that executes an SQL query to reterive all product orders.
# type: fryer
# quanity greater than 3

In [20]:
def getAllProductOrdersByType(db_conn, product_type, quantity_greater_than):
    
    cursor = db_conn.cursor()
    sql_string = 'SELECT po.* \
                        FROM product_orders po \
                        JOIN products p \
                        ON p.product_id = po.product_id \
                        WHERE p.product_type = %s \
                        AND po.quantity > %s'
    
#     sql_string = 'SELECT po.* \
#                         FROM product_orders po \
#                         JOIN products p \
#                         ON p.product_id = po.product_id  \
#                         WHERE p.product_type = %s \
#                         AND po.quantity > 3'
    
    cursor.execute(sql_string, [product_type, quantity_greater_than])
    return (cursor.fetchall())

In [21]:
all_product_orders = getAllProductOrdersByType(conn, 'fryer', 3)

In [22]:

len(all_product_orders)

19

In [23]:
all_product_orders

[(10, 3, 4, Decimal('90.93')),
 (24, 3, 5, Decimal('131.20')),
 (86, 3, 5, Decimal('266.13')),
 (140, 3, 5, Decimal('298.42')),
 (150, 3, 5, Decimal('259.76')),
 (151, 3, 4, Decimal('262.93')),
 (273, 3, 4, Decimal('222.86')),
 (56, 17, 5, Decimal('64.47')),
 (220, 17, 5, Decimal('146.25')),
 (224, 17, 4, Decimal('30.91')),
 (295, 17, 5, Decimal('143.12')),
 (254, 26, 4, Decimal('22.24')),
 (75, 54, 4, Decimal('165.38')),
 (98, 54, 4, Decimal('45.03')),
 (150, 54, 5, Decimal('62.33')),
 (7, 64, 5, Decimal('261.31')),
 (90, 64, 5, Decimal('133.20')),
 (183, 64, 5, Decimal('58.37')),
 (205, 64, 5, Decimal('228.90'))]